.row_site{
    max-width: 1190px;
}
 .container_site {
    padding-left: 10px;
    padding-right: 10px;
}
.ova_movie_single {
    margin: 110px 0;
}
.ova_movie_single .top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.ova_movie_single .top-content .movie-title {
    margin: 0 0 8px 0;
    font-size: 34px;
    color: #000000;

    font-weight: bold;
    clear: both;
}
.ova_movie_single .top-content .categories-and-time {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    line-height: 1.3;
}
.ova_movie_single .top-content .movie-category a {
    color: #737373;
}
.ova_movie_single .top-content .btn-booking, .ova_movie_single .top-content .btn-custom-link {
    font-size: 15px;
    border-radius: 0;
    padding: 17px 51px;
    border: 1px solid;
    border-radius: 0px;
    
    font-size: 1em;
    border-color: #d96c2c;
    background-color: #d96c2c;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
.ova_movie_single .top-content .btn-booking:hover{
    background-color: transparent;
    border-color: #d96c2c;
    color: #d96c2c;
}
.ova_movie_single .movie-media {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}
.ova_movie_single .movie-media .movie-gallery.gallery_blur {
    position: relative;
}
.ova_movie_single .movie-media .movie-gallery {
    width: 100%;
    max-width: 367px;
}
.ova_movie_single .movie-media .gallery-fancybox {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: #d96c2c;
}
.ova_movie_single .movie-media .gallery-fancybox:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    
    opacity: 0.25;
}
.ova_movie_single .movie-media .movie-featured-image {
    position: relative;
    width: 100%;
}
.ova_movie_single .movie-media .gallery-fancybox:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.25;
}
.ova_movie_single .movie-media img {
    display: block;
    width: 100%;
    height: 517px;
    object-fit: cover;
    max-width: 100%;
}
.ova_movie_single .movie-media .btn-trailer-video-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ova_movie_single .movie-media .btn-trailer-video {
    transition: all 0.3s ease;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: transparent;
}
@keyframes lineScale {
    0%{
        transform: translate(-50%, -50%) scale(0.8);
    }
  
    60%{
        transform: translate(-50%, -50%) scale(1.0);
    }
    
    80%{
        transform: translate(-50%, -50%) scale(0.9);
    }
    
    100%{
        transform: translate(-50%, -50%) scale(0.8);
    }
  }
  .ova_movie_single .movie-media .text-trailer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    position: absolute;
    bottom: 29%;
    right: 52%;
    
    font-size: 24px;
    line-height: 1.4;
    color: #fff;
}
.ova_movie_single .movie-media .btn-trailer-video:hover:before {
    transition: all 0.3s linear;
    background-color: #fff;
}
.ova_movie_single .movie-media .btn-trailer-video:hover i {
    transition: all 0.3s ease;
    color: #d96c2c;
}
.mb_booking_popup .mb-bp-container .mb-close {
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 50%;
    background-color: #d96c2c;
    color: #FFFFFF;
    top: -15px;
    right: -15px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.mb_booking_popup {
    display: none;
    position: fixed;
    z-index: 9999;
    padding: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}
.mb_booking_popup .mb-bp-container .mb-bp-content {
    display: block;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 5px;
    background-color: #fdfcf0;
}
.mb-date-tabs li .day {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    height: 48px;
    width: 77px;
    color: #717171;
    cursor: pointer;
    border: 2px solid #fdfcf0;
    border-radius: 5px;
}
.mb-date-tabs li .day {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    height: 48px;
    width: 77px;
    color: #717171;
    cursor: pointer;
    border: 2px solid #fdfcf0;
    border-radius: 5px;
}
.mb_booking_popup .mb-bp-container .mb-bp-content .toggle-tabs {
    margin: 0;
    padding: 20px;
    list-style-type: none;
    border-bottom: 2px solid #2b2b2b;
}
.mb_booking_popup .mb-bp-container .mb-bp-content .toggle-tabs li {
    display: inline-block;
}
.mb-date-tabs li.current {
    border-color: #222;
}
.mb-date-tabs li {
    
    border: 2px solid #fff;
    border-radius: 5px;
}
.mb-date-tabs li .day span.D_m_day span {
    color: #717171;
    font-size: 16px;
    line-height: 1;
    font-family: 'Space Grotesk';
}
.mb_booking_popup .mb-bp-container .mb-bp-content .collateral-tabs .tab-container .tab-content1 .mb-room-types .showtimes .mb-venue {
    padding: 15px 0 10px;
    border-bottom: 1px solid #222222;
}
.mb_booking_popup .mb-bp-container .mb-bp-content .collateral-tabs .tab-container .tab-content1 .mb-room-types .showtimes .mb-room-name h4 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #222;
    font-family: 'Space Grotesk';
}
.mb_booking_popup .mb-bp-container .mb-bp-content .collateral-tabs .tab-container .tab-content1 .mb-room-types .showtimes ul.mb-tab-showtime li {
    display: inline-block;
    border: 1px solid #cbcabe;
    color: #222;
    text-align: center;
    line-height: 1;
    margin: 3px 3px 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.mb_booking_popup .mb-bp-container .mb-bp-content .collateral-tabs .tab-container .tab-content1 .mb-room-types .showtimes ul.mb-tab-showtime li span {
    font-size: 14px;
    color: #222;
    font-family: 'Space Grotesk';
}
.mb_booking_popup .mb-bp-container .mb-bp-content .collateral-tabs .tab-container .tab-content1 .mb-room-types .showtimes ul.mb-tab-showtime li:hover {
    border-color: #222;
}
.mb_booking_popup .mb-bp-container .mb-bp-content .collateral-tabs .tab-container .tab-content1 .mb-room-types .showtimes ul.mb-tab-showtime li a {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    color: #d96c2c;
}
.mb_booking_popup .mb-bp-container .mb-bp-content .collateral-tabs .tab-container .tab-content1 .mb-room-types .showtimes ul.mb-tab-showtime {
    padding: 0;
    margin: 0 0 15px;
    list-style: none;
}
.mb_booking_popup .mb-bp-container .mb-bp-content .collateral-tabs .tab-container .tab-content1 .mb-room-types .showtimes .mb-venue h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #636363;
    font-family: Space Grotesk;
}
.mb_booking_popup .mb-bp-container .mb-bp-content .collateral-tabs .tab-container .tab-content1 .mb-room-types .showtimes {
    padding: 0 40px;
}
.mb_booking_popup .mb-bp-container .mb-bp-content .collateral-tabs {
    margin: 0;
}
.mb_booking_popup .mb-bp-container .mb-bp-content .collateral-tabs .tab-container.current {
    display: block;
}
.mb_booking_popup .mb-bp-container .mb-bp-content .collateral-tabs .tab-container .tab-content1 .mb-room-types ul.toggle-tabs {
    padding: 20px 40px;
}
.mb_booking_popup .mb-bp-container .mb-bp-content .collateral-tabs .tab-container .tab-content1.mb-showtimes .toggle-tabs .mb-city-name.current, .mb_booking_popup .mb-bp-container .mb-bp-content .collateral-tabs .tab-container .tab-content1.mb-showtimes .toggle-tabs .mb-room-type-name.current {
    background-color: #222;
    color: #FFF;
}
.mb_booking_popup .mb-bp-container .mb-bp-content .collateral-tabs {
    margin: 0;
}
.mb_booking_popup .mb-bp-container .mb-bp-content .collateral-tabs .tab-container .tab-content1.mb-showtimes .toggle-tabs .mb-city-name, .mb_booking_popup .mb-bp-container .mb-bp-content .collateral-tabs .tab-container .tab-content1.mb-showtimes .toggle-tabs .mb-room-type-name {
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    color: #222;
}
.mb_booking_popup .mb-bp-container .mb-bp-content .toggle-tabs {
    margin: 0;
    padding: 20px;
    list-style-type: none;
    border-bottom: 2px solid #2b2b2b;
}
.mb_booking_popup .mb-bp-container .mb-bp-content .collateral-tabs dd {
    margin: 0;
    padding: 0;
}
.mb-date-tabs li .d_day strong {
    color: #717171;
    font-size: 32px;
    font-weight: 500;
}
.mb-date-tabs li .day span.D_m_day {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.mb_booking_popup .mb-bp-container {
    position: relative;
    width: 100%;
    height: 100%;
}
.ova_movie_single .movie-media .text-trailer i {
    margin: 0 0 12px 12px;
    display: inline-flex;
    font-size: 18px;
    transform: rotate(-51deg);
}
.ova_movie_single .info-list {
    margin: 0 0 35px 0;
    padding: 0 0 35px 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 0.25fr 0.25fr;
    column-gap: 80px;
    row-gap: 10px;
    border-bottom: 1px solid #E0E0E0
}
.ova_movie_single .movie-cast, .ova_movie_single .movie-related {
    margin-bottom: 47px;
}
.ova_movie_single .movie-title-h2.cast-title {
    margin-bottom: 30px;
    line-height: 1.21;
    color: #000000;
    font-weight: bold;
    clear: both;
}
.mb-movie-cast-list.four_column {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.mb-movie-cast-list {
    display: grid;
    gap: 30px;
}
.mb-movie-cast-list .movie-cast-item {
    display: flex;
    align-items: center;
}
.mb-movie-cast-list .movie-cast-item .cast-thumbnail {
    margin-right: 20px;
}
.mb-movie-cast-list .movie-cast-item .cast-info .cast-name {
    margin: 0;
    font-size: 18px;
    line-height: 1.3;
    color: #000000;
    font-weight: bold;
    clear: both;
}
.mb-movie-cast-list .movie-cast-item .cast-info .cast-description {
    margin: 0;
    font-size: 14px;
    line-height: 1.86em;
    color: #737373;
}
.ova_movie_single .movie-title-h2 {
    margin: 0 0 22px 0;
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    clear: both;
}
.ova_movie_single .movie-cast, .ova_movie_single .movie-related {
    margin-bottom: 47px;
}
.ova_movie_single .movie-title-h2 {
    margin: 0 0 22px 0;
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    clear: both;
}
.mb-movie-list.four_column {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.mb-movie-list.mb-movie-list-template1 {
    column-gap: 20px;
}
.mb-movie-list {
    display: grid;
    gap: 30px;
}
.mb-movie-item.item-template1 {
    transition: all 0.5s ease;
    border: 5px solid transparent;
}
.mb-movie-item.item-template1 .movie-image {
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
}
.mb-movie-item.item-template1 .movie-image img {
    transition: all 0.5s ease;
    display: block;
    width: 100%;
    height: 389px;
    object-fit: cover;
    transform: scale3d(1.05, 1.05, 1.05);
}
.mb-movie-item.item-template1 .movie-image:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 65%);
}
.mb_trailer_video_popup {
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99999;
}

.mb-movie-item {
    position: relative;
}
.modal-container-detail{
    line-height: 0;
    width: 85%;
    max-height: 90%;
    max-width: 1500px;
    position: relative;
}
@keyframes fadeDown {
    from {
      opacity: 0;
      transform: translateY(-20px); /* Adjust the distance you want to move down */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(20px); /* Adjust the distance you want to move up */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
.mb_trailer_video_popup .modal-container-detail .modal-class{
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}
.main-content p{
    line-height: 1.86em;
    color: #737373;
    font-size: 16px;
    margin: 0 0 2em;
}
.mb-movie-cast-list .movie-cast-item .cast-thumbnail img {
    display: block;
    width: 100px;
    min-width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    max-width: 100%;
}
.ova_movie_single .movie-title-h2 {
    margin: 0 0 22px 0;
    font-size: 30px;
}
.ova_movie_single .info-list .item {
    display: flex;
    align-items: baseline;
    gap: 10px;
}
.ova_movie_single .info-list .item .title {
    min-width: 33%;
    margin: 0;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}
.ova_movie_single .info-list .item .value {
    line-height: 1.3;
    color: #737373;
    font-size: 16px;
}
.ova_movie_single .info-list .item {
    display: flex;
    align-items: baseline;
    gap: 10px;
}
.ova_movie_single .movie-media .btn-trailer-video:before {
    transition: all 2.5s linear;
    cursor: pointer;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #d96c2c;
    z-index: 1;
    animation: lineScale 2.8s linear infinite;
}
.ova_movie_single .movie-media .btn-trailer-video:after {
    transition: all 2.3s linear;
    cursor: pointer;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 140%;
    height: 140%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
    animation: lineScale 2.8s linear infinite;
}
.ova_movie_single .movie-media .gallery-fancybox {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: #d96c2c;
}
.ova_movie_single .movie-media img {
    display: block;
    width: 100%;
    height: 517px;
    object-fit: cover;
    max-width: 100%;
}
.ova_movie_single .movie-media .movie-gallery.gallery_blur .gallery-fancybox .blur-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    line-height: 1.2;
    color: #fff;
}
.ova_movie_single .movie-media .btn-trailer-video i {
    transition: all 0.3s ease;
    display: inline-flex;
    font-size: 24px;
    color: #fff;
    z-index: 1;
}