.product-item {
    display: flex;
    margin-bottom: 20px;
  }
  
  .product-image img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
  }
  
  .product-details {
    flex-grow: 1;
  }
  
  .product-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .product-quantity,
  .product-price {
    font-size: 14px;
    margin: 5px 0;
  }
  