.hiraola-footer_area {
    background-color: #000;
}.hiraola-footer_area .footer-top_area {
    padding: 80px 0 80px;
}
.hiraola-footer_area .footer-top_area .footer-widgets_info .footer-widgets_logo {
    padding-bottom: 25px;
}
.hiraola-footer_area .footer-top_area .footer-widgets_info .widget-short_desc > p {
    margin-bottom: 0;
}
.elementor-element-795e95e {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #FFFFFF26;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 30px 0px;
}
.elementor-159 .elementor-element.elementor-element-4ab32c6.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-element-7656713 {
    --grid-template-columns: repeat(4, auto);
    --icon-size: 14px;
    --grid-column-gap: 10px;
    --grid-row-gap: 0px;
 
}
.elementor-159 .elementor-element.elementor-element-7656713 .elementor-icon.elementor-social-icon {
    display: inline-flex;
}
.elementor-159 .elementor-element.elementor-element-7656713 .elementor-icon {
    border-radius: 50% 50% 50% 50%;
}
.elementor-159 .elementor-element.elementor-element-7656713 .elementor-social-icon {
    background-color: #2F2F2F;
    --icon-padding: 1.2em;
}
.elementor-screen-only, .screen-reader-text, .screen-reader-text span, .ui-helper-hidden-accessible {
    position: absolute;
    top: -10000em;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.elementor-button {
    font-size: 13px;
    padding: 8px 20px 8px 20px;
}
.elementor-button-wrapper .elementor-button {
    font-size: 13px;
    line-height: 1.4;
    font-weight: 700;
    background-color: #d96c2c;
    border-radius: 0;
    padding: 8px 20px 8px 20px;
}
.elementor-button-wrapper .elementor-button:hover {
    color: #D96C2C;
    background-color: #FFFFFF;
}
.elementor-button-wrapper .elementor-button:hover .elementor-button-text {
 color: #D96C2C !important;
}
#text{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.8em;
 
    max-width: 100%; /* Chia từ nếu chuỗi quá dài */
}
.elementor-element-9d7926d {
    padding: 90px 0px 50px 0px;
}
 .row .elementor-container {
    max-width: 1140px;
}
@media (min-width: 768px){
.elementor-column.elementor-col-50, .elementor-column[data-col="50"] {
    width: 50%;
}
}