
.imp-ui-top-right {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.imp-ui-top-left {
    position: absolute;
    left: 20px;
    top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.imp-ui-bottom-right {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.imp-translate {
    width: 100%;
    height: 100%;
}
.imp-image {
    z-index: 0;
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    max-width: none !important;
    max-height: none !important;
    display: block !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
 .cart-sidebar {
    flex: 0 0 360px;
}
.cart_detail .cart-sidebar .cart-info {
    box-shadow: 0px 10px 40px 0px rgba(6, 22, 58, 0.1);
}
.cart-sidebar .cart-info .wp-cart-info {
    padding: 15px;
}
 .cart-sidebar .cart-info .wp-cart-info .cart_title {
    margin: 0;
    padding-top: 0;
    padding-bottom: 9px;
    font-size: 14px;
    line-height: 1.2;
    color: #333;
    font-weight: 600;
    border-bottom: 3px solid #ccc;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.theatre {
    margin: 20px -143px;
    width: 191%;
    max-width: 593px;
    border-radius: 5px;
    background-color: #fff;
    padding: 18px 8px;
    box-shadow: 0px 0px 17px -4px #000;
}
body {
  --ButtonBorder: color-mix(in oklab, Canvas 80%, CanvasText 20%);
  --ColorError: color-mix(in oklab, hsl(360, 60%, 46%), Canvas 10%);
	--ColorSuccess: color-mix(in oklab, hsl(136, 41%, 41%), Canvas 10%);
	--GrayCanvas: color-mix(in oklab, Canvas 95%, CanvasText 10%);

  background-color: Canvas;
  color: CanvasText;
  /*color-scheme: light dark;*/

  font-weight: normal;
}
 .cart-sidebar .cart-discount {
  margin-top: 20px;
}
 .cart-sidebar .cart-discount .cart-discount-btn {
  display: block;
  font-size: 14px;
  line-height: 22px;
  color: #333;
  padding: 10px 0;
  width: 100%;
  border: 2px dashed #c7c7c7;
  text-align: center;
  transition: all 0.3s ease;
}
 .cart-sidebar .cart-checkout {
  margin-top: 20px;
  position: relative;
}
 .cart-sidebar .cart-checkout .submit-load-more .load-more {

}

 .cart-sidebar .cart-checkout #btn-checkout {
  display: block;
  width: 100%;
  padding: 14px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #FFF;
  background-color: #90ba3e;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.28);
  transition: all 0.3s ease;
  text-align: center;
}
 .cart-sidebar .cart-checkout .submit-load-more {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #90ba3e;

  transition: all, 0.4s, ease;
}
legend { font-weight: 500; }

ol [type=checkbox] {
  --_icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="white" d="M14 2.5l-8.5 8.5-3.5-3.5-1.5 1.5 5 5 10-10z"/></svg>');
	appearance: none;
	height: 2em;
	margin: 0;
	width: 2em;
	&:checked { background: var(--AccentColor) var(--_icon) no-repeat 50% / 55%; }
}
.setlected{
  --ui-cinema-seat-bg: yellow !important;
}
.vip{
  --ui-cinema-seat-bg: var(--ColorError);
}
.active{
  --ui-cinema-seat-bg: var(--ColorSuccess);
}
.unactive{
  background-color: var(--ui-cinema-seat-bg, var(--GrayCanvas)) !important;
}
 .cart-sidebar .cart-discount .form-discount {
  display: none;
  position: relative;
  flex-wrap: wrap;
}
 .cart-sidebar .cart-discount .form-discount .input-discount-code {
  position: relative;
  width: calc(100% - 110px);
}
 .cart-sidebar .cart-discount .form-discount #cart-discount-close {
  position: absolute;
  left: 100%;
  top: -10px;
  cursor: pointer;
  color: #666;
  padding: 10px;
}
 .cart-sidebar .cart-discount .form-discount .cart-discount-submit-code {
  width: 100px;
  height: 40px;
  margin-left: 10px;
  background-color: #90ba3e;
  border: 1px solid #90ba3e;
  border-radius: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  transition: all 0.3s ease;
  cursor: pointer;
}
 .cart-sidebar .cart-discount .form-discount .input-discount-code .discount-code {
  font-size: 14px;
  color: #333;
  width: 100%;
  border: 1px solid #828181;
  border-radius: 0;
  height: 40px;
  padding: 0 10px;

    box-sizing: border-box;
    font-weight: normal;
    outline: 0;
    transition: all ease-in-out 0.3s;
    font-size: 1em;
}
 .cart-sidebar .cart-checkout.mb-disable {
  opacity: 0.5;
}
.popup {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: block;
  left: -114px;
}


:where(.ui-cinema) {
  all: unset;
  direction: ltr;
  & input {
    --_bdc: color-mix(in srgb, var(--ui-cinema-seat-bg, var(--GrayCanvas)), #000 30%);
    aspect-ratio: 1 / .9;
   
    border-color: var(--_bdc);
    border-radius: .5em .5em .15em .15em;
    border-style: solid;
    border-width: 0 0 .25em 0;

    &:checked { 
    
      --AccentColor: var(--ui-cinema-seat-bg);
      border-color: var(--_bdc);
    }
    &:disabled { --ui-cinema-seat-bg: var(--ColorError); }
    &:is([value=""], :not([value])) {
      opacity: 0;
      pointer-events: none;
    }
    &:focus-visible:not(:checked),
    &:hover:not(:checked):not(:disabled) {
      background: color-mix(in srgb, var(--ColorSuccess), Canvas 80%);
    }
    &:focus-visible:checked {
      outline: 2px solid color-mix(in srgb, var(--ColorSuccess), Canvas 40%);
    }
    &[inert] { --ui-cinema-seat-bg: var(--ButtonBorder); }
  }
  & label { display: contents; }
  & li {
    align-items: center;
    counter-increment: row;
    display: grid;
    gap: 1ch;
    grid-auto-flow: column;
    &::before,
    &::after {
      content: counter(row);
      font-size: small;
      padding-inline: 1ch;
    }
  }
  & ol {
    counter-reset: row;
    display: grid;
    gap: 1ch;
    padding: 0;
  }
}
.cart-sidebar .cart-info .total-cart-info {
  background-color: #666;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
 .cart-sidebar .cart-info .total-cart-info span {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
 .cart-sidebar .cart-info .total-cart-info span {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
:where(.ui-color-key) {
	all: unset;
	background-color: var(--GrayCanvas);
	border-radius: var(--ui-color-key-bdrs, 5ch);
  color: CanvasText;
	display: grid;
	gap: 2ch;
	grid-auto-flow: column;
	padding: 1ch 2ch;
	width: fit-content;
	& li {
		display: grid;
		font-size: smaller;
		gap: 1ch;
		grid-auto-flow: column;
		align-items: center;
		&::before {
			aspect-ratio: 1 / 1;
			background-color: var(--ui-color-key, var(--ButtonBorder));
			border: 1px solid color-mix(in srgb, var(--ui-color-key), #000 15%);
			border-radius: 50%;
			content: "";
			display: block;
			width: 1em;
		}
	}
}

 .cart-sidebar .cart-info .wp-cart-info .content-cart-info .item-info.item-header span {
    font-size: 14px;
    line-height: 22px;
    color: #666;
    font-weight: 600;
    border-bottom: 1px dashed #bbb;
    padding: 12px 0;
}
 .cart-sidebar .cart-info .wp-cart-info .content-cart-info .item-info.area-item {
    align-items: center;
}
 .cart-sidebar .cart-info .wp-cart-info .content-cart-info .item-info:last-child {
    padding-bottom: 32px;
    padding-top: 12px;
}
 .cart-sidebar .cart-info .wp-cart-info .content-cart-info .item-info.area-item .area-name {
    font-size: 14px;
    line-height: 22px;
    color: #90ba3e;
}
 .cart-sidebar .cart-info .wp-cart-info .content-cart-info .item-info.area-item .info-qty-ticket span {
    width: 30px;
    height: 30px;
    border: 1px solid #E0E0E0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #666;
    font-size: 14px;
}
.cart-sidebar .cart-info .wp-cart-info .content-cart-info .item-info.area-item .info-qty-ticket span:last-child {
    border-left: 0;
}
 .cart-sidebar .cart-info .wp-cart-info .content-cart-info .item-info.area-item .info-sub-price {
    flex: 0 0 30%;
}
 .cart-sidebar .cart-info .wp-cart-info .content-cart-info .item-info .info-sub-price {
    text-align: right;
}
 .cart-sidebar .cart-info .wp-cart-info .content-cart-info .item-info.area-item .info-qty-ticket span.area-minus, .cart_detail .cart-sidebar .cart-info .wp-cart-info .content-cart-info .item-info.area-item .info-qty-ticket span.area-plus {
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
 .cart-sidebar .cart-info .wp-cart-info .content-cart-info .item-info.area-item .info-qty-ticket span.area-minus, .cart_detail .cart-sidebar .cart-info .wp-cart-info .content-cart-info .item-info.area-item .info-qty-ticket span.area-plus {
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
 .cart-sidebar .cart-info .wp-cart-info .content-cart-info .item-info.area-item .info-qty-ticket span:first-child {
    border-right: 0;
}
 .cart-sidebar .cart-info .wp-cart-info .content-cart-info .item-info.area-item .info-qty-ticket {
    display: flex;
    align-items: center;
    justify-content: center;
}
 .cart-sidebar .cart-info .wp-cart-info .content-cart-info .item-info.area-item .info-qty-ticket {
    flex: 0 0 40%;
}
 .cart-sidebar .cart-info .wp-cart-info .content-cart-info .item-info.area-item .info-type-ticket {
    flex: 0 0 30%;
}
 .cart-sidebar .cart-info .wp-cart-info .content-cart-info .item-info {
    display: flex;
    justify-content: space-between;
}
 .cart-sidebar .cart-info .wp-cart-info .content-cart-info .item-info .info-type-ticket .wp-seat-info {
    display: flex;
    flex-wrap: wrap;
}
 .cart-sidebar .cart-info .wp-cart-info .content-cart-info .item-info .info-sub-price {
    text-align: right;
}
 .cart-sidebar .cart-info .wp-cart-info .content-cart-info .item-info .info-type-ticket .wp-seat-info span:not(:last-child):after {
    content: "|";
    padding: 0 5px;
}
.cart-sidebar .cart-info .wp-cart-info .content-cart-info .item-info .info-type-ticket .wp-seat-info span {
    font-size: 14px;
    line-height: 22px;
    color: #90ba3e;
}
.cart-sidebar .cart-info .wp-cart-info .content-cart-info .item-info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #bbb;
    padding: 12px 0;
}
.cart-sidebar .cart-info .wp-cart-info .content-cart-info .item-info {
    display: flex;
    justify-content: space-between;
}
.cart-sidebar .cart-info .wp-cart-info .content-cart-info .placeholder {
    display: block;
    font-size: 12px;
    color: #999;
    line-height: 1.2;
    font-style: italic;
    padding-bottom: 30px;
}
.cart-sidebar .cart-info .wp-cart-info .content-cart-info {
    padding-top: 4px;
}
  .screen-side {
    text-align: center;
  }
  .screen-side .screen {
    height: 25px;
    margin: 0 20px;
    border-radius: 50%;
    box-shadow: 0px -3px 0px 1px #ccc;
    color: #ccc;
  }
  .screen-side .select-text {
    color: #969696;
  }
  .exit {
    position: relative;
    height: 50px;
  }
  .exit:before, .exit:after {
    content: "EXIT";
    font-size: 14px;
    line-height: 18px;
    padding: 0px 5px;
    font-family: "Arial Narrow", Arial, sans-serif;
    display: block;
    position: absolute;
    background: #81c784;
    color: white;
    top: 50%;
    transform: translate(0, -50%);
  }
  .exit:before {
    left: 0;
  }
  .exit:after {
    right: 0;
  }
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .seats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .seat {
    display: flex;
    flex: 0 0 14.28571%;
    padding: 5px;
    position: relative;
  }
  .seat:nth-child(3) {
    margin-right: 14.28571%;
  }
  .seat input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }
  .seat input[type="checkbox"]:checked + label {
    background: #bada55;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
  }
  .seat input[type="checkbox"]:disabled + label {
    background: #ddd;
    text-indent: -9999px;
    overflow: hidden;
  }
  .seat input[type="checkbox"]:disabled + label:after {
    content: "X";
    text-indent: 0;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .seat input[type="checkbox"]:disabled + label:hover {
    box-shadow: none;
    cursor: not-allowed;
  }
  .seat label {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 4px 0;
    color: #fff;
    background: #26a69a;
    border-radius: 2px;
    animation-duration: 300ms;
    animation-fill-mode: both;
    transition-duration: 300ms;
  }
  .seat label:hover {
    cursor: pointer;
    box-shadow: 0px 0 7px 3px #ccc;
  }
  @-webkit-keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  .rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
  }
.imp-scale {
    transform: scale(1, 1) translate(0, 0);
    transform-origin: 0% 0%;
    width: 100%;
    height: 100%;
}
.imp-canvas-wrap {
    position: relative;
    width: auto;
    height: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
 .cart-content .mb-seat-map {
    position: relative;
}
.cart-sidebar .cart-info .wp-cart-info .content-cart-info {
    padding-top: 4px;
}
.cart-sidebar .cart-info {
    box-shadow: 0px 10px 40px 0px rgba(6, 22, 58, 0.1);
}
.imp-ui-wrap {
    position: relative;
}