.elementor-3327 .elementor-element.elementor-element-3929839 {
    margin-top: 0px;
    margin-bottom: 110px;
} .ovaev-event-title {
    font-size: 30px;
    margin: 0px 0px 0px 0px;
    color: #000000;
    font-family: "Space Grotesk";
    font-weight: bold;
    clear: both;
}
.elementor-widget-wrap>.elementor-element {
    width: 100%;
}
.elementor-3327 .elementor-element.elementor-element-6f840c5 > .elementor-element-populated {
    margin: 0px 15px 0px 0px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px;
}