h1.page-title {
    margin-top: 0;
    -webkit-hyphens: unset;
    -moz-hyphens: unset;
    -ms-hyphens: unset;
    hyphens: unset;
    color: #000;
    font-family: 'Space Grotesk';
    font-weight: bold;
    clear: both;
    font-size: 2em;
    line-height: 1.21;
    margin: 1em 0 0.5em 0px;
}
.woocommerce-checkout form.checkout_coupon .form-row-first, .woocommerce-checkout form.checkout_coupon .form-row-last {
    width: 49% !important;
}
.woocommerce-checkout form.checkout_coupon p {
    margin-bottom: 10px;
    margin-top: 0;
}
.woocommerce form .form-row {
    padding: 3px;
    margin: 0 0 6px;
}
.woocommerce form .form-row .optional {
    visibility: visible;
}
.woocommerce-checkout #customer_details .woocommerce-billing-fields .form-row#billing_country_field {
    order: 7;
}
.woocommerce-checkout #customer_details label {
    display: block;
    width: 100%;
    font-size: 1em;
    color: #000000;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 5px;
}
.woocommerce form .form-row .required {
    visibility: visible;
}
.woocommerce form .form-row .required {
    color: red;
    font-weight: 700;
    border: 0!important;
    text-decoration: none;
    visibility: hidden;
}
.woocommerce-checkout #customer_details .woocommerce-billing-fields .form-row .woocommerce-input-wrapper {
    width: 100%;
    display: block;
}
.woocommerce .woocommerce-billing-fields::after, .woocommerce .woocommerce-billing-fields::before, .woocommerce .woocommerce-shipping-fields::after, .woocommerce .woocommerce-shipping-fields::before, .woocommerce-page .woocommerce-billing-fields::after, .woocommerce-page .woocommerce-billing-fields::before, .woocommerce-page .woocommerce-shipping-fields::after, .woocommerce-page .woocommerce-shipping-fields::before {
    content: " ";
    display: table;
}
.woocommerce .woocommerce-billing-fields::after, .woocommerce .woocommerce-shipping-fields::after, .woocommerce-page .woocommerce-billing-fields::after, .woocommerce-page .woocommerce-shipping-fields::after {
    clear: both;
}
.woocommerce .woocommerce-billing-fields::after, .woocommerce .woocommerce-billing-fields::before, .woocommerce .woocommerce-shipping-fields::after, .woocommerce .woocommerce-shipping-fields::before, .woocommerce-page .woocommerce-billing-fields::after, .woocommerce-page .woocommerce-billing-fields::before, .woocommerce-page .woocommerce-shipping-fields::after, .woocommerce-page .woocommerce-shipping-fields::before {
    content: " ";
    display: table;
}
.woocommerce-checkout #customer_details .woocommerce-additional-fields .form-row {
    margin: 0 0 15px 0;
    padding: 0;
    width: 100%;
}
.woocommerce-checkout #customer_details textarea {
    border: 1px solid;
    border-color: #e0e0e0;
    height: 100px;
    padding: 10px 15px;
    border-radius: 4px;
    color: #737373;
    background: #ffffff;
}
.woocommerce-checkout table.shop_table {
    border: 1px solid;
    border-color: #e0e0e0;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ededed;
    font-size: 100%;
    line-height: 2;
    margin: 0 0 20px;
    width: 100%;
}
.woocommerce-checkout table.shop_table thead tr th.product-name {
    border-right: 1px solid #e0e0e0;
}
.woocommerce-checkout table.shop_table thead tr th {
    border: none;
    border-bottom: 1px solid #e0e0e0;
}
.woocommerce-checkout table.shop_table tbody tr {
    border: none;
}
.woocommerce table.shop_table th {
    font-weight: 700;
    padding: 9px 12px;
    line-height: 1.5em;
}
.woocommerce td.product-name .wc-item-meta .wc-item-meta-label, .woocommerce td.product-name .wc-item-meta dt, .woocommerce td.product-name dl.variation .wc-item-meta-label, .woocommerce td.product-name dl.variation dt {
    float: left;
    clear: both;
    margin-right: 0.25em;
    display: inline-block;
    list-style: none outside;
}

.woocommerce table.shop_table {
    border: 1px solid rgba(0,0,0,.1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;
}
.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text {
    box-sizing: border-box;
    width: 100%;
}
.woocommerce-checkout #customer_details label {
    display: block;
    width: 100%;
    font-size: 1em;
    color: #000000;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 5px;
}
.woocommerce-checkout #payment .place-order #place_order:hover {
    background: #d96c2c !important;
    transition: all ease 0.5s;
}
.woocommerce-checkout #payment .place-order #place_order {
    font-size: 1.2em;
    color: #fff;
    background: #333;
}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    float: right;
}
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit.alt, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button.alt, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button.alt, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce #respond input#submit.alt, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button.alt, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button.alt, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce input.button.alt {
    background-color: #7f54b3;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}
.woocommerce form .form-row::after, .woocommerce form .form-row::before, .woocommerce-page form .form-row::after, .woocommerce-page form .form-row::before {
    content: " ";
    display: table;
}
.woocommerce-checkout h3 {
    text-transform: uppercase;
    font-size: 1.2em;
    margin-top: 0;
    color: #000000;
    font-family: 'Space Grotesk';
    font-weight: bold;
    clear: both;
    margin: 1em 0 0.5em 0px;
}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    float: right;
    width: 48%;
}
.woocommerce-checkout #customer_details .woocommerce-billing-fields .form-row#billing_last_name_field {
    order: 2;
    width: 50%;
    padding-left: 10px;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: normal;
}
.woocommerce form .form-row-first, .woocommerce-page form .form-row-first {
float: left;
width: 52%;
}
.checkout_coupon .apply_coupon {
    line-height: 1.5em;
    background-color: #d96c2c;
    border-color: #d96c2c;
    color: #fff;
    padding: 12px 25px;
}

.page article.post-wrap {
    display: flow-root;
}
.woocommerce-checkout form.checkout_coupon input.input-text {
    line-height: 1.5em;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: normal;
}
.woocommerce-checkout #customer_details {
    margin-bottom: 30px;
}
.woocommerce .col2-set, .woocommerce-page .col2-set {
    width: 100%;
}
.woocommerce-checkout #customer_details .col-1, .woocommerce-checkout #customer_details .col-2 {
    max-width: 100%;
    padding: 0;
}
.woocommerce-checkout #customer_details .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.woocommerce-checkout #customer_details .woocommerce-billing-fields .form-row#billing_first_name_field {
    order: 1;
    width: 50%;
    padding-right: 10px;
}
.woocommerce-checkout #customer_details input {
    border: 1px solid;
    border-color: #e0e0e0;
    line-height: 1.5em;
    padding: 12px 15px;
    color: #737373;
    border-radius: 4px;
    background: #ffffff;
}
.woocommerce-checkout #customer_details .woocommerce-billing-fields .form-row#billing_company_field {
    order: 3;
}
.woocommerce-checkout #customer_details .form-row {
    margin-top: 0;
    margin-bottom: 15px;
    padding: 0;
    width: 100%;
}
.woocommerce form .form-row select {
    cursor: pointer;
    margin: 0;
    background-color: #ffffff;
    color: var(--text);
    border: 1px solid #e0e0e0;
    border-radius: 0px;
    padding: 12px 15px;
    max-width: 100%;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    width: 100%;
 
    background-position: calc(100% - 12px) center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
}
.woocommerce-checkout h3 {
    color: #000000;
    font-family: 'Space Grotesk';
    font-weight: bold;
    clear: both;
    margin: 1em 0 0.5em 0px;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {

    width: 48%;
}

#add_payment_method #payment ul.payment_methods::after, #add_payment_method #payment ul.payment_methods::before, .woocommerce-cart #payment ul.payment_methods::after, .woocommerce-cart #payment ul.payment_methods::before, .woocommerce-checkout #payment ul.payment_methods::after, .woocommerce-checkout #payment ul.payment_methods::before {
    content: " ";
    display: table;
}
#add_payment_method #payment ul.payment_methods::after, #add_payment_method #payment ul.payment_methods::before, .woocommerce-cart #payment ul.payment_methods::after, .woocommerce-cart #payment ul.payment_methods::before, .woocommerce-checkout #payment ul.payment_methods::after, .woocommerce-checkout #payment ul.payment_methods::before {
    content: " ";
    display: table;
}
#add_payment_method #payment ul.payment_methods li:not(.woocommerce-notice)::after, #add_payment_method #payment ul.payment_methods li:not(.woocommerce-notice)::before, .woocommerce-cart #payment ul.payment_methods li:not(.woocommerce-notice)::after, .woocommerce-cart #payment ul.payment_methods li:not(.woocommerce-notice)::before, .woocommerce-checkout #payment ul.payment_methods li:not(.woocommerce-notice)::after, .woocommerce-checkout #payment ul.payment_methods li:not(.woocommerce-notice)::before {
    content: " ";
    display: table;
}
.woocommerce-checkout #payment ul.wc_payment_methods li .payment_box {
    background: #fff;
    margin: 12px 0 22px 0;
    border-radius: 0;
}
#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    font-size: .92em;
    border-radius: 2px;
    line-height: 1.5;
    background-color: #dcd7e3;
    color: #515151;
}
.woocommerce-checkout #payment ul.wc_payment_methods li .payment_box:before {
    border-bottom-color: #fff;
}
#add_payment_method #payment div.payment_box::before, .woocommerce-cart #payment div.payment_box::before, .woocommerce-checkout #payment div.payment_box::before {
    content: "";
    display: block;
    border: 1em solid #dcd7e3;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: -0.75em;
    left: 0;
    margin: -1em 0 0 2em;
}
#add_payment_method #payment ul.payment_methods li:not(.woocommerce-notice)::after, .woocommerce-cart #payment ul.payment_methods li:not(.woocommerce-notice)::after, .woocommerce-checkout #payment ul.payment_methods li:not(.woocommerce-notice)::after {
    clear: both;
}
.woocommerce-checkout #payment ul.wc_payment_methods li .payment_box p {
    font-size: 17px;
    line-height: 22px;
    color: #737373;
}
#add_payment_method #payment ul.payment_methods li:not(.woocommerce-notice)::after, .woocommerce-cart #payment ul.payment_methods li:not(.woocommerce-notice)::after, .woocommerce-checkout #payment ul.payment_methods li:not(.woocommerce-notice)::after {
    clear: both;
}
#add_payment_method #payment div.form-row, .woocommerce-cart #payment div.form-row, .woocommerce-checkout #payment div.form-row {
    padding: 1em;
}
.woocommerce-checkout #payment ul.wc_payment_methods li label {
    margin: 0 0 0 0;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.2px;
    color: #000000;
    font-weight: 500;
    display: inline;
}
.woocommerce-checkout #payment ul.wc_payment_methods li input {
    height: unset;
    margin: 0 8px 0 0;
}
#add_payment_method #payment ul.payment_methods li, .woocommerce-cart #payment ul.payment_methods li, .woocommerce-checkout #payment ul.payment_methods li {
    line-height: 2;
    text-align: left;
    margin: 0;
    font-weight: 400;
}
.woocommerce-checkout #payment ul.wc_payment_methods {
    padding: 32px 25px 32px 25px;
    border-bottom-color: #e0e0e0;
    text-align: left;
    padding: 1em;
    border-bottom: 1px solid #cfc8d8;
    margin: 0;
    list-style: none outside;
}
.woocommerce-checkout #payment {
    border-radius: 0px;
    background: #e8eaee;
    height: 75vh;
}
.input-text{
    border-radius: 0px;
    padding: 12px 15px;
    border-color: #e0e0e0;
    background-color: #ffffff;
    color: #737373;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-weight: normal;
    outline: 0;
    transition: all ease-in-out 0.3s;
    font-size: 1em;
}
article.post-wrap {
    margin-bottom: 70px;
}
.wc-block-components-notice-banner.is-info {
    background-color: #f4f8ff;
    border-color: #007cba;
}
.wc-block-components-notice-banner>.wc-block-components-notice-banner__content:last-child {
    padding-right: 0;
}
.wc-block-components-notice-banner>.wc-block-components-notice-banner__content {
    -ms-grid-row-align: center;
    align-self: center;
    flex-basis: 100%;
    padding-right: 16px;
    white-space: normal;
}
.wc-block-components-notice-banner {
    align-content: flex-start;
    align-items: stretch;
    background-color: #fff;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    color: #2f2f2f;
    display: flex;
    font-size: .875em;
    font-weight: 400;
    gap: 12px;
    line-height: 1.5;
    margin: 16px 0;
    padding: 16px!important;
}